{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

<div class ="container mt-5 ml-5 mr-5">
    <div class=" container wrap-login">
        <div>  <h1 class="string-login register-button">Login</h1></div>
        <form method="POST" action="">
            {% csrf_token %}
        <div>
            <table>
                <tr>
                    <td > <label class="register-button"> Username: </label></td>
                    <td><input  type="text" name="username" placeholder="Username" class="form-control"></td>
                </tr>
                        
                <tr >
                    <td> <label class="register-button"> Password:</label> </td>
                    <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                </tr>
            </table>
        </div>
        <div class="d-grid gap-3 mt-3"><input class="btn btn-primary" type="submit" value="Login"></div>
        </form>
        <div class="string-login">Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a></div> 
          
    {% if messages %}
    <ul class="string-login">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} 
    </div>
    

</div>

{% endblock content %}