{% extends 'base.html' %}
<style>

</style>

{% block content %}
<nav class="navbar navbar-expand-lg "  style="background-color:#e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" disabled>{{name}}</a>
          <a class="nav-link" disabled>{{class}}</a>
          <a href="{% url 'main:logout' %}">
            <button class="logout_button">
                Logout
            </button>
            </a>
            <a href="{% url 'main:create_product' %}">
                <button class="logout_button">
                    Add New Product
                </button>
            </a>
        
        </div>
      </div>
    </div>
  </nav>
  <div>
    <div class=" judul">
    <h1 style="font-family: Montserrat;"> <strong>Medicine Stock</strong> </h1>
    <h4> Kamu menyimpan {{amount_items}} item pada aplikasi ini </h4>
    </div>
    <div>
        <br>
        <h7 >Sesi terakhir login: {{ last_login }}</h7><br>
       
        </div>
    <div class="card-container">
        {% for item in items %}
            <div class="card">
                <div class="card-header">
                    <strong>{{ item.name }}</strong>
                </div>
                <div class="card-body">
                    <p><strong>Amount:</strong> {{ item.amount }}</p>
                    <p><strong>Description:</strong> {{ item.description }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'main:tambah' item.pk %}" class="btn btn-primary">
                        +
                    </a>
                    <a href="{% url 'main:kurang' item.pk %}" class="btn btn-secondary">
                        -
                    </a>
                    <a href="{% url 'main:hapus' item.pk %}" class="btn btn-danger">
                        Delete
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    
    
</div>   
{% endblock content %}