{% extends 'base.html' %}

{% block content %}
    <h1>Medicine Stock Page</h1>

    <h2>Name:</h2>
    <p>{{name}}</p>

    <h2>Class:</h2>
    <p>{{class}}</p>
    <h4> Kamu menyimpan {{amount_items}} item pada aplikasi ini </h4>
    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.description}}</td>
                <td>  <a href="{% url 'main:tambah' item.pk %}">
                    <button>
                        +
                    </button>
                    </a>
                </td>
                <td>  <a href="{% url 'main:kurang' item.pk %}">
                    <button>
                        -
                    </button>
                    </a>
                </td>
                <td>  <a href="{% url 'main:hapus' item.pk %}">
                    <button>
                        delete
                    </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    <h5>Sesi terakhir login: {{ last_login }}</h5>
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>
    
{% endblock content %}